* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

section {
    display: flex;
    border: solid 1px;
    height: 100vh;

}

section .section-title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#home{
    scroll-margin-top: 100px;
}
#portfolio{
    scroll-margin-top: 100px;
}
#Footer{
    scroll-margin-top: 100px;
}

section{
    scroll-margin-top: 100px;
    min-height: 100vh;
}

.home {
    min-height: 100vh;
}