



#home1 {
  justify-content: center;
}

#home1 p {
  border: solid 1px;
  padding: 4rem;
  font-size: 2rem;
  border-radius: 1rem;
  height: 40vh;
}

#home img {
  width: 80vh;
  height: auto;
}
#home {
  width: 100%;
  justify-content: space-around;
}